.main{
    min-height: calc(100vh - 100px);
}
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    
  }
  
  .listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto auto auto auto !important;
    padding: 10px 0px 50px 0px !important;
    width: 100%;
    background: transparent;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(22, 1, 1, 0.353);

  }
  
  .listItem {
    text-align: center;
    font-size: 2px !important;
    cursor: pointer;
    background: #ff6b06;
    border-radius: 20px;
    color: #fff;
    min-width: 100px;
    width: fit-content;
    text-align: center !important;
    width: fit-content !important;
    border: none;
    min-height: 40px;
    padding: 0 !important;
  }
  .listItem:hover{
    background-color: #fff;
    color: #ff6b06;
    border: 1px solid rgba(22, 1, 1, 0.353);

  }
  
  .sectionContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1300;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sectionPaper {
    width: 100%;
    max-width: 600px;
    padding: 16px;
  }
  
  .active {
    display: block;
  }
  
  .section {
    margin-top: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* flex-wrap: wrap; */
  }
  .section .side{
    width:30%;
    background: red;
    min-height: 60vh; 
  }
  .section .details{
    width: 70%;
    background: #000;

  }

  @media (max-width: 768px) {
    .section{
      flex-direction: column;
    }
    .section .side{
      width: 100%;
      min-height: 200px;
      height: auto;
    }
    .section .details{
      width: 100%;
      background: #000;
      min-height: 500px;  
    }
  }