
.div001,.div0011 ,.div0012{
    height: calc(100vh - 100px);
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0d171afa;
}

.div001{
    background-image: url('../Assets/bg12.jpg');
}
.div001 .calltoaction{
color: inherit;
}
.div0011{
    background-image: url('../Assets/bg10.jpg');
}
.div0012{
    background-image: url('../Assets/bg11.jpg');
}
.div002a{
 min-height: 100%;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.div002{
  
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;

}
.header{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Cinzel', serif;
  width: 500px;
  margin:0 auto;
  align-items: center;
  max-width: 90vw;
}
.subheader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'DM Sans', serif;
  width: 500px;
  margin:0 auto 0 auto;
  max-width: 90vw;
}
.calltoaction{
  display: flex;
  color: #000;
  flex-direction: column;
  /* margin: 30px auto auto auto; */
  margin-top: auto;
  font-family: 'DM Sans',sans-serif;
}
.calltoaction button{
  width: 150px;
  height: 40px;
  border: none;
  background-color: aliceblue;
  box-shadow: 3px 4px 9px 0px #0d171a12;
  border-radius: 15px;
  /* margin:10px auto auto auto; */
  font-family: 'DM Sans',sans-serif;
}
.band{
    display: none;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin:  50px auto 0 auto;
  }
  .band button{
    border-radius: 10px;
    /* background-color: rgb(255, 255, 255); */
    background: #c7dddf8d;
    border: none;
    box-shadow: 3px 4px 9px 0px #00000059;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .band button img{
    width: 30px;
    height: auto;
  }
  @media (max-width:700px) {
  
    .div001,.div0011 ,.div0012{
      min-height: 100vh;
      height: auto;
  }
  .header{
    margin-top:100px ;
    text-align: left;
  }
  }