

.slider {
    color: #e75613;
  }

.slider .MuiSlider-thumb{
    background-color:#001c28;
    height: 12px;
    width: 12px;
}

.slider .MuiSlider-track{
    background-color: #e52929;
    height: 6px;
    border: none;
  }

.slider .MuiSlider-rail{
    opacity: 1;
    height: 6px;
    width: 230px;
    background-color:#001c28;
}
  
 