.div000{
  background: rgb(243, 246, 248);
  padding: 100px 0 0 0;
  margin: auto;
  width: 100%;
  max-width: 1100px;
}
.div001{
  background:transparent;
  width: 1100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: space-around;
  align-content: center;
  margin: 50px auto 100px auto;
  border-radius: 25px;
  font-family: 'DM Sans', sans-serif;
}


.div002{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 780px; */
  height: fit-content;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* border-radius: 25px 25px 0 0;*/
  }
  .div004 button{
    padding: 10px 25px;
    margin: 25px 0;
    font-size: larger;
    color: rgb(226, 225, 225);
    border: none;
    background-color: #f77117;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'DM Sans',sans-serif;
  }

  .div004 button:hover{
    background-color: #f78438;;
  }

  .img001{
    width: 400px;
    height: 350px;
    /* border-radius: 25px 0 0 0; */
    
      
  }
  .div003{
    width: 50%;
    min-width: 300px;
    margin: 20px auto;
    display: flex;
    max-width: 90%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .div003 h1{
    font-size: 32px;
    margin: auto 10px;
  }
  .div003 p{
    font-size: 16px;
    margin: auto 10px 20px 10px;
    max-width: 90%;
  }
  @media screen and (max-width: 867px){
    .div001{
        width: 100%;
    }
    .img001{
      width: 500px;
      max-width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 0%;
      margin: auto auto 20px auto;
  }
  .div003{
    width: auto;
    margin: 20px auto;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    text-overflow: ellipsis;
  }
}
  @media screen and (max-width: 599px){
    .div003{
      width: 90%;
      margin: auto;
      min-width: auto;

    }
   
  }
  @media screen and (max-width: 321px){
    .div003 {
      background-color: transparent;
      font-size: 16px;
      margin: auto ;
      width: 250px;
      max-width: 90%;
      min-width: auto;
      overflow-wrap: anywhere;
    }
   
  }
  

  .div004{
    color: white;
    /* border-radius: 0px 0px 25px 25px; */
    /* background: rgb(3, 8, 2); */
}
  

  .div005{
    display: flex;
    justify-content: space-between;
    width: 26%;
    align-items: center;
  }

  .button001{
    border-radius: 20px;
    background-color: #f77117;
    color: white;
    padding: 10px 25px;
    border: none;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 0 0 2x #e66916;
    font-family: 'DM Sans',sans-serif;
  }

  .button001:hover{
    background-color: #f78438;;
  }
  .div00{
    background: rgb(243, 246, 248);
    width: 100%;
    margin: auto;
    min-height: 100vh;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px 0;
  }

.div006{
 
}
.div00 h1{
  margin-bottom: 0;
}
.div00 button{
  background-color: #f77117;
  color: white;
  padding: 10px 25px;
  margin: 100px 100px auto auto;
  border-radius:20px;
  width: 150px;
  border:1px solid white;
  cursor: pointer;
  transition: 0.25s all ;
  font-family: 'DM Sans',sans-serif;
}
.div00 button:hover{
  transform: scale(1.1);
  box-shadow: 5px 3px 20px 0px #ff880091;

}
.div00 img{
  width: 420px;
  height: 300px;
  max-width: 95%;
  object-fit: cover;
  margin: 30px auto;
  /* border: 8px solid white;
  box-shadow: 5px 2px 20px 0px #0000003b; */
}
.div00 p{
  width: 400px;
  max-width: 95%;
  margin: 20px 20px;
}
.div00 .div002a{
  background-color:   transparent;
  margin: auto auto;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
}
@media (max-width:840px) {
  .div00 img{
    width: 95%;
    max-width: 600px;
    margin-top: 30px auto;
  }
  .div00 p{
    width: 90%;
    margin: auto auto 20px auto;
  }
  
}
@media (max-width:426px) {
  .div00 img{
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    overflow-wrap: unset;
    object-position: center;
    border: none;
  }
  .div00 p{
    width: 90%;
    margin: auto auto 20px auto;
  }
  
}